.contact-page {
  .contact-wrapper {
    padding-left: 2em;
  }

  .image-contact {
    margin-top: 0;
    min-height: 100%;
  }

.image-contact {
  /* width: 80%; */
  height: 100%;
  min-height: 350px;
  margin-top: 2em;
}

}