@import './theme.scss';
@import './breakpoints.scss';
@import './typography.scss';

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #ffffff;
  box-sizing: border-box;
  color: $dark-text;
  font-size: $text-size;
  max-width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus:not(.focus-visible) {
  outline: none;
}

.focus-visible {
  outline: black dotted 4px;
  outline-offset: 4px;
}

p {
  color: black;
  margin-block-end: 0;
}

img {
  width: 100%;
  height: auto;
}

a.link {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5em;
  color: inherit;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: $oliveGreen;

    &:hover {
      background: hsla(134, 16%, 38%, 0.83);
      transition: 0.3s ease-in-out;
    }
  }

  &:hover {
    color: hsla(134, 16%, 38%, 0.83);
    transition: 0.3s ease-in-out;
  }
}

.align-center {
  justify-content: center;
}

.justify {
  &-end {
    justify-content: flex-end;
  }

  &-between {
    justify-content: space-between;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fluid {
  min-width: 100%;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &.flex-space-between {
    padding-bottom: 1em;
    justify-content: space-between;
  }

  @include desktop {
  flex-direction: row;
  flex-wrap: wrap;

    &.flex-space-between {
      justify-content: space-between;
      align-items: center;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.col-video:first-child, &.col-video:nth-child(2) {
    padding-right: 2%;
  }

  &-video {
    width: 100%;
    align-items: center;

    @include desktop {
      width: 32%;
    }
  }
}

.base-0 {
  flex-basis: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-margin {
  margin-top: 0;
}

.social-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1em;
}
.social-icon {
  padding-right: 1em;
}

.page-title {
  color: #000000;
}

.section-heading {
  letter-spacing: -2px;
  color: #000000;
  position: relative;
  width: fit-content;
  line-height: 1.3;

  &:after {
    content: '';
    position: absolute;
    background: $oliveGreen;
    width: 120%;
    height: 0.2em;
    display: block;
    animation-name: underline;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    /* right: 10; */
    /* left: 20px; */
  }
}

.col.center {
  align-items: center;
  justify-content: center;
}

.col-image-about-me {
  width: 100%;
}

section.section {
  margin: 0 auto;
  width: 80%;
  padding: 2em 0em;
}

.header-video {
  width: 100vw;
  height: 90vh;
  object-fit: cover;

  @include desktop {
    height: 70vh;
  }
}

.header-video-container.button {
  margin-bottom: 1em;

  @include desktop {
    margin-bottom: 0em;
  }
}



@keyframes underline {
  0% {
    width: 0%;
  }

  100% {
    width: 120%;
  }
}
