:root {
  --orange: #e54c14;
  --green: #5f8465;
}


body {
  background-color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  max-width: 100vw;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  padding: 5em 2em 2em 2em;
  margin: 0 auto;
  max-width: 80%;
}

h1, h2, h3, h4 {
  font-family: 'Futura PT', sans-serif;
}

@media only screen and (min-width: 1000px) {
  .content {
    padding: 5em 3em 2em 3em;
  }
}
