body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.content {
  flex-grow: 1;
  padding: 2em;
}
